
* {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

.titulos {
    font-weight: 700;
    font-stretch: normal;
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    max-width: 62%;
    line-height: 1.17;
    color: #002b39;
}

.titulosSeccion {
    font-size: 40px;
}

#seccion1 {
    background-image: url(img/Enmascarar\ grupo\ 289.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin-bottom: 20px;
}

#seccion1>img:nth-child(1){
    width: 116px;
    height: 116px;
}

.button {
    background-image: linear-gradient(180deg, #6fb5fb, #0080ff);
    border: none;
    display: block;
    align-self: center;
    color: white;
    padding: 13px 25px 13px 25px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    border-radius: 7px;
    border: #4da5fd solid 1px;
    box-shadow: 0 8px 16px 0 rgba(59, 59, 59, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.19);
  }

  .button:hover {
      background-image: url(img/Rectángulo\ 8376.webp);
      color: #1489ff;
      border: #1489ff solid 1px;
      transition-duration: 0.4s;
  }

#tarjeta {
    display: grid;
    max-width: 692px;
    margin: auto;
    border: 1px solid #bec7ca;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(59, 59, 59, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.19);

}

#tarjeta .contImgTarjeta:nth-child(1) img {
    max-width: 220px;
}

.contContenido p {
    line-height: 21px;
    text-align: left;
}

.contProfesionEstrellas {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
}

.estrellas {
    justify-self: end;
    
}

.estrellas img {
    height: 21px;
}

.contContenido h3 {
    font-size: 27px;
    color: #002b39;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}

.contContenido h6 {
    margin: 0;
    font-size: 19px;
    color: #1489ff;
    font-weight: bolder;
    text-align: left;
}

#productos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin: auto auto;
    max-width: 1080px;
}

.produc {
    max-width: 360px;
    margin-bottom: 80px;
}

.produc img {
    background-image: url(img/Circulo-blanco.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
}

#seccion2 h4 {
    font-size: 25px;
    color: #272c30;
    font-weight: 600;
    text-align: center;
}

#seccion2 p {
    font-size: 18px;
    color: #272c30;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
    width: 80%;
    margin: auto auto;
}

#seccion3 {
    margin-top: 60px;
    margin-bottom: 30px;
}

#proceso {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 80px auto 50px auto;
    max-width: 862px;
    background-image: url(img/Rectangulo-7185403x.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 43%;
    font-size: 18px;
}

#proceso .proces div {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    cursor: pointer;
}

#proceso .proces:nth-child(1) {
    justify-self: start;
}

#proceso .proces:nth-child(3) {
    justify-self: end;
}

.proces img:nth-child(1) {
    max-height: 25px;
}

.img1Proceso {
    background-image: url(img/Grupo\ 9210@2x.webp);
}

.img2Proceso {
    background-image: url(img/Grupo\ 7025@2x.webp);
}

.img3Proceso {
    background-image: url(img/Grupo\ 7024@2x.webp);
}

.img1Proceso:hover {
    background-image: url(img/nuevo7023.svg);
}

.img2Proceso:hover {
    background-image: url(img/nuevo7025.svg);
}

.img3Proceso:hover {
    background-image: url(img/Grupo-7024-1.svg);
}

#seccion4 {
    background-image: url(img/Enmascarar-grupo-258402x.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.mockups {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100%;
    height: auto;
}


.mockups img:nth-child(1) {
    position: relative;
    left: 300px;
    width: 80%;
    z-index: 1;

}

.mockups img:nth-child(2) {
    position: relative;
    top: 15%;
    right: 100px;
    width: 80%;
    z-index: 0;
}





@media screen and ( min-width: 630px ) {
    #tarjeta {
        grid-template-columns: auto auto;
    }

}

@media screen and ( max-width: 900px ) {
    #productos {
        grid-template-columns: auto;
    }

    #seccion3 {
        height: 1100px;
        margin-bottom: 100px;
    }
    
    #proceso {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        max-height: 1050px;
        background-image: none;
        max-width: 230px;
    }

    .proces {
        border: 1px solid #bec7ca;
        border-radius: 15px;
        height: 280px;
        margin: 10px;
        box-shadow: 0 8px 16px 0 rgba(59, 59, 59, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.19);

    }

    .proces img {
        padding-top: 15px;
    }

    .mockups img:nth-child(1) {
        left: 200px;
    }

    .mockups img:nth-child(2) {
        right: 80px;
    }

}
